html {
    margin:0;
    padding:0;
    font-family: "Georgia";
      font-style: normal;
  }
  
  
  body {
    background-color:white;
    padding:0;
    margin: 0;
    bottom: 0;
    text-align:center;
  }
  a{
  text-align:center;
  
  }
  
  
  
  .header{
    margin:0;
    padding:0;
    top: 0;
    left: 0;
    right: 0;
      font-size: 200%;
    text-align:center;
    background-color:#70dbdb;
   
  }
  
  
  img{
    top: 0;
    right: 0;
    bottom:0;
    left:0;
    margin: 50px;
  
  }
  
  footer{
    margin:0;
  background-color:#99ccff;
    left:0;
    right:0;
    bottom: 0;
  }
  nav {
    background-color:#70dbdb;
      min-height:75px;
    line-height:75px;
    text-align:center;
    margin: 0;
    padding: 0;
  }
  button{
    background-color:#4d4dff;
    font-size: 16px;
    padding: 10px 16px;
    color:#ffffff;
    border: 5px solid black;
    font-weight:bold;
    border-radius: 4px;
    
  }
  button:hover{
  background-color:#70dbdb;
    font-size: 16px;
    padding: 10px 16px;
    color:#000000;
    border: 5px solid white;
    font-weight:bold;
    border-radius: 4px;
    font-style:italic;
  
  }
  
  p{
    color: black;
    margin: 20px;
    text-align: center;
    
    
  }
  
  #emphasis{
  font-weight:bold;
  
  }
  hr { 
    background-color: #669999;
    color:#666699;
    border-width: 5px;
    
    
  
  }
  div{
    background-color:#70dbdb;
    color: black;
    min-height: 500px;
    border: 5px solid black;
    max-width: 800px;
    line-height: 150%;
     margin: 0 auto;
     min-width: 500px; 
  
  }
  
  .center-div
  {
       margin: 0 auto;
       width: 500px; 
  }
  
  
  .heading{
  text-align:center;
  }
  
  textarea{
    resize: none;
    outline: none;
    width: 394px;
    font-family: tahoma;
    background: #f9f9f9;
  }
  
  textarea:focus{
    background: #fff;
  }
  
  input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }
  
  input[type=submit] {
      background-color: #4d4dff;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  input[type=submit]:hover {
      background-color: #70dbdb;
  }
  
    .content{
    width: 100%;
  }
  
  .comments{
    width: 400px;
    margin: 30px auto;
  }
  
  .insert-text{
    position: relative;
  }
  
  .insert-text .loading{
    position: absolute;
    bottom: -25px;
    display: none;
  }
  
  .insert-text .total-comment{
    position: absolute;
    bottom: -25px;
    right: 0px;
  }
  
  .insert-text .total-comment:before{
    content: "Total comment: ";
    font-weight: bold;
  }
  
  
  
  
  
  
