
html {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
    font-style: normal;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    align-content:center;
    align-items:center;
}

nav {
    background-color: #70dbdb;
    min-height: 75px;
    line-height: 75px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    font-size: 200%;
    text-align: center;
    background-color: #70dbdb;
}
hr {
    background-color: #669999;
    color: #666699;
    border-width: 5px;
}

button {
    background-color: #00fff1;
    font-size: 16px;
    padding: 10px 16px;
    color: #000000;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 4px;
}

.chocolate {
    background-color: #503909;
    color: #bba37f;
}

.lime {
    background-color: #00ff00;
    color: darkgreen;
}

.vanilla {
    background-color: #ffffe7;
    color: #ba8916;
    border: 3px solid lightgoldenrodyellow;
}

button:hover {
    color: gray;
    font-style: italic;
    font-weight: bold;
    border: 3px solid white;
}

button:hover.vanilla {
    border: 3px solid black;
}

.smallBox{
    width: 500px;
    min-height: 105px;
    border: 3px solid black;
    align-self:center;
    display: inline-block;

}
