

a {
text-decoration: none;
	color: violet;
}
body {
	font-family: Georgia;
    transition: linear;
	color: #000000;
}
p {
	color: #aeaeae;
	text-align: center;
	
}
something {
	text-align: center;
  color: FireBrick;
  padding: 12px;
}
button {
    background-color: GhostWhite;
    border: none;
    color: Tomato;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	position: relative;
	margin-top: 0px auto;
	border-radius: 10;
	width: 25%
		
}
input{
	background-color: DarkViolet;
	color: white;
	font-size: 10px;
	display: inline-block;
	border: 2px solid purple;
	padding: 12px;
	}
	
	


