

body {
  background-color:#99ccff;
  margin:0;
  padding:0;
}

nav {
  background-color:#70dbdb;
    min-height:75px;
  line-height:75px;
  text-align:center;
  margin: 0;
  padding: 0;
}
button{
  background-color:#4d4dff;
  color:#ffffff;
  
}

p{
  color: black;
  
}
hr { 
  background-color: #669999;
  color:#666699;
  border-width: 5px;
  

}
div{
  background-color: white;
  width: 700px;
  border: 5px black;
  margin: 25px;
  min-height:75px;
  line-height:75px;
  text-align:center;

}
.header {
  font-size: 200%;
  text-align:center;
  background-color:#70dbdb;

}
